<div class="container mt-4">
  <h2>{{ isEdit ? 'Edit Trip' : 'Add Trip' }}</h2>

  <form (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label>Destination</label>
      <input class="form-control"
             [(ngModel)]="trip.destination"
             name="destination"
             required>
    </div>

    <div class="mb-3">
      <label>Duration</label>
      <input class="form-control"
             [(ngModel)]="trip.duration"
             name="duration"
             required>
    </div>

    <div class="mb-3">
      <label>Price</label>
      <input class="form-control"
             [(ngModel)]="trip.price"
             name="price"
             required>
    </div>

    <button class="btn btn-success">Save</button>
  </form>
</div>